body{
    background-color: rgb(255, 255, 248);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 97vh;
}
.calculator{
    background-color: antiquewhite;
    width: 270px;
    height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.644);;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px

}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    padding: 100px;
}
.textArea{
    background-color: aliceblue;
    width: 250px;
    height: 90px;
    margin-bottom: 20px;
}
.buttons{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 7px;
}
button{
    font-size: 3rem;
    padding: 2px 12px;
    margin: -1px;
}

.top button{
    padding: 0px 15px;
    
}
.mid1 button{
    padding: 0px 15px;
}.mid2 button{
    padding: 0px 15px;
}.bottom button{
    padding: 0px 11px;
}
.bottom #zero{
    padding: 0px 15px;
}
.bottom #equals{
    padding: 0px 14.5px;
}
.top #divide{
    padding: 0px 18px;   
}
.mid1 #mult{
    padding-right: 10px;
}
.mid2 #sub{
    padding-right: 18px;
}
.bottom #add{
    padding: 0px 10.5px;
}